.DS_Store
build
*.tar.gz
*.gz
*.tar
bin/
.vs/
target/
out/
dist/
obj/
*.out
*.o
*.lib
*.log
*.run
*.dll
*.bin
*.so
*.log
*.exe
*.exe.config
*.exe.config
*.exp
*.ipch
*.7z
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.xml
*.lastcodeanalysissucceeded
*.zip
*.rar
*.lnk
*.bak
*.suo
*.dll
*.psd
*.txt
*.msi
.DS_Store
__pycache__
node_modules
